{% load static %}
<nav class="navbar navbar-expand-lg" id="navBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <img class="nav-logo" src="{% static 'images/logo.PNG' %}"/>
            <li class="nav-link"><a href="{% url 'home' %}">Captain Console</a></li>
            {% if user.is_authenticated %}
            {% else %}
                <li class="nav-link"><a href="{% url 'login' %}">Login</a></li>
                <li class="nav-link"><a href="{% url 'sign_up' %}">Register</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="profile-image-container btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% if user.profile.nickname == "" %}
                        <p>{{ user.username }}</p>
                    {% elif user.profile.nickname != "" %}
                        <p>{{ user.profile.nickname }}</p>
                    {% endif %}
                    {% if user.profile.profile_image == "" %}
                        <img class="profile-image" src="../../static/images/genericUser.jpg" alt=""/>
                    {% elif user.profile.profile_image != "" %}
                        <img class="profile-image" src="{{ user.profile.profile_image }}" alt=""/>
                    {% endif %}
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Edit User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search_history' %}">Search History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'delete_search_history' %}">Delete All Search History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'delete_previously_viewed' %}">Delete All Previously Viewed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_product' %}">Add Product</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <a class="cart-container" href="{% url 'cart_detail' %}">
                <p>Cart</p>
                <img class="cart-image" src="../../static/images/cartLogo.png" alt=""/>
            </a>
        {% endif %}
  </div>
</nav>