.mydiv {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}
html {
    background-color: #EBEBEB;
}
body {
    width: 60%;
    text-align: center;
    margin: auto;
    border: 2px solid #BFBFBF;
}
a:link {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #222222;
    text-decoration: none;
}

/* Home Page css */
.homePage {
    padding: 10px;
    text-align: center;
}
.homePage .product-container {
    box-sizing: border-box;
    width: 210px;
    height: 300px;
    display: inline-block;
    margin: 8px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    padding: 5px;
}
.homePage .product-image {
    margin: 0px;
    height: 70%;
    width: 100%;
}
.homePage .product-name {
    margin: 0px;
    width: 100%;
    height: 15%;
}
.homePage .product-price {
    margin: 0px;
    width: 100%;
    height: 15%;
}

/* Product Page css */
.productPage {
    background-color: white;
    padding: 10px;
}
.productPage .product-image {
    width: 100%;
    border: 1px solid black;
}
.productPage .product-name {
    width: 50%;
    float: left;
    height: 60px;
    border: 1px solid black;
}
.productPage .product-price {
    width: 50%;
    float: left;
    height: 60px;
    border: 1px solid black;
}
.productPage .product-description {
    width: 100%;
    border: 1px solid black;
}
.productPage .product-reviews {
    width: 100%;
    border: 1px solid black;
}