{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load cart_tag %}
    {% if request.session.cart|length != 0 %}
        <div class="cart-page">
            <nav class="navbar navbar-expand-lg" id="stepMenu">
                <ul class="navbar-nav mr-auto">
                    <li><a href="{% url 'cart_info' %}">1. Cart</a></li>
                    <li>2. Contact Information</li>
                    <li>3. Shipping and Payment</li>
                    <li>4. Order Review</li>
                </ul>
            </nav>
            <div class="cart-table-container">
                <table class="cartTable">
                    <tr class="cartRow">
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Price</th>
                    </tr>
                    {% for key,value in request.session.cart.items %}
                        <tr class="cartRow">
                            <td><img src="{{ value.mainImageLink }}" alt=""/></td>
                            <td>{{value.name}}</td>
                            <td>
                                <a href="{% url 'item_decrement' value.product_id %}">-</a>
                                {{value.quantity}}
                                <a href="{% url 'item_increment' value.product_id %}">+</a>
                            </td>
                            <td><a href="{% url 'item_clear' value.product_id %}">X</a></td>
                            <td name="prod-price">$ {{ value.price|multiply:value.quantity|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <nav class="navbar navbar-expand-lg" id="stepMenu">
                <ul class="navbar-nav mr-auto">
                    <li><a href="{% url 'cart_clear' %}"><button type="button">Clear Cart</button></a></li>
                    <li class="total"><h4>Total: $ {{ cart.get_total_price }}</h4></li>
                    <li><a href="{% url 'contact_info' %}"><button type="button">Next Step:<br/>Contact Info</button></a></li>
                </ul>
            </nav>
        </div>
    {% elif request.session.cart|length == 0 %}
        <h3>Cart is currently empty</h3>
    {% endif %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}