{% extends 'base.html' %}
{% block content %}
    <div class="homePage">
        {% for product in products %}
        <div class="product-container">
            <a href="/products/{{ product.id }}">
                <img class="product-mainImage" src="../../static/images/{{ product.mainImage }}" alt="">
                <h4 class="product-name">{{ product.name }}</h4>
                <p class="product-price">{{ product.price }} kr.</p>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
