{% extends 'base.html' %}
{% block content %}
    <div class="productPage">
{#        <img class="product-image" src="../../static/images/{{ product.image }}" alt="">#}
        <h2 class="product-name">{{ product.name}}</h2>
        <h4 class="product-price">{{ product.price }} kr.</h4>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-reviews"></p>
        {% for productimage in product.ProductImages %}
            <img src="{{ productimage.imageFileName }}"/>
        {% endfor %}
        <a href="{% url 'delete_product' product.id %}" class="block btn btn-primary">Delete Product</a>
        <a href="{% url 'update_product' product.id %}" class="block btn btn-primary">Update Product</a>
    </div>
{% endblock %}