{% extends 'base.html' %}
{% block content %}
    <div class="productPage">
        <div class="product-container">
            <div class="productImageBox">
                <img class="product-mainImage" src="../../static/images/{{ product.mainImage }}" alt="">
                {% for image in images %}
                    {% if product.id == image.product_id %}
                        <img class="product-images" src="../../static/images/{{ image.imageFileName }}" alt="">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="productInfo">
                <h4 class="product-name">{{ product.name}}</h4>
                <p class="product-description">{{ product.description }}</p>
            </div>
            <div class="buyProduct">
                <p class="product-price">{{ product.price }} kr.</p>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
        <div class="review-container">
            <h5>Product reviews</h5>
            {% for review in reviews %}
                {% if product.id == review.product_id %}
                    <div class="product-review">
                        {% if review.rating >= 0 and review.rating <= 5 %}
                            {% for i in '12345'|make_list %}
                                {% if forloop.counter <= review.rating %}
                                    <img class="stars" src="../../static/images/yellowStar.png" alt="">
                                {% elif forloop.counter > review.rating %}
                                    <img class="stars" src="../../static/images/blackStar.png" alt="">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <h6 class="product-review-title">{{ review.reviewTitle }}</h6>
                        <p class="product-review-text">{{ review.reviewText }}</p>
                        <p class="product-review-user">Posted
                        {% for profile in profiles %}
                            {% if profile.user_id == review.user_id %}
                                by {{ profile.nickname }}
                            {% endif %}
                        {% endfor %}
                        on {{ review.datetime }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class="admin-product-options">
                <a href="{% url 'delete_product' product.id %}" class="block btn btn-primary">Delete Product</a>
                <a href="{% url 'update_product' product.id %}" class="block btn btn-primary">Update Product</a>
                <a href="{% url 'add_image' product.id %}" class="block btn btn-primary">Add Image</a>
                <a href="{% url 'review_product' product.id %}" class="block btn btn-primary">Review Product</a>
            </div>
        {% endif %}
    </div>
{% endblock %}